#jinja2: lstrip_blocks: "True (or False)", trim_blocks: "True (or False)"
{% if ansible_network_os == "ios" %}
| {{ inventory_hostname }} | {{ ansible_net_model }} | {{ ansible_net_filesystems_info.get("bootflash:").spacefree_kb }} | {{ ansible_net_version }} |
{% endif %}
{% if ansible_network_os == "eos" or "junos" %}
| {{ inventory_hostname }} | {{ ansible_net_model }} | {{ ansible_net_memfree_mb }} | {{ ansible_net_version }} |
{% endif %}
